.slider-items {
  width: 100%;
  height: auto;
  max-height: 260px;
}

.slider-item-container {
  width: 100%;
  height: fit-content;
}

.slider-item-container img {
  width: 100%;
  height: auto;
  max-height: 260px;
  text-align: center;
}
