input:focus,
button:focus {
  outline: none;
  border: none;
}

.header {
  width: 100%;
  z-index: 10;
}

/* TOP NAVIGATION BAR */
.topNavBar {
  display: flex;
  align-items: center;
  border-top: 10px solid #482880;
  background-color: #673ab7;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.leftTopNav {
  display: flex;
  align-items: center;
}

.topNavButton {
  color: white;
}

.applicationTitle {
  font-size: 24px;
  color: white;
}

/* BOTTOM NAVIGATION BAR */
.botNavBar {
  height: 50px;
  display: flex;
  background-color: #8561c5;
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.searchInputBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 5px;
  border-radius: 5px;
}

.searchInput {
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  width: 85%;
  height: 100%;
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}

.searchInput:focus {
  border: 2px solid #673ab7;
  padding: 0 8px;
}

.searchIconBox {
  display: flex;
  width: 15%;
  height: 100%;
  border: 2px solid #673ab7;
  border-radius: 0 4px 4px 0;
  background-color: #673ab7;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  font-size: 32px;
}
